<nav class="navbar navbar-light bg-white border-top fixed-bottom shadow-sm">
  <div class="container d-flex justify-content-around text-center">

    <a
      routerLink="/home"
      routerLinkActive="active"
      class="nav-link d-flex flex-column align-items-center"
    >
      <i class="bi bi-house fs-4"></i>
      <small>Home</small>
    </a>

    <a
      routerLink="/courses"
      routerLinkActive="active"
      class="nav-link d-flex flex-column align-items-center"
    >
      <i class="bi bi-journal-text fs-4"></i>
      <small>Courses</small>
    </a>

    <a
      routerLink="/videos"
      routerLinkActive="active"
      class="nav-link d-flex flex-column align-items-center"
    >
      <i class="bi bi-camera-video fs-4"></i>
      <small>Videos</small>
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="nav-link d-flex flex-column align-items-center"
    >
      <i class="bi bi-person fs-4"></i>
      <small>Profile</small>
    </a>

  </div>
</nav>
