


/* You can add global styles to this file, and also import other style files */
/* ---------- GLOBAL RESET ---------- */
body {
  background: linear-gradient(135deg, #eef3ff, #e0e7ff);
  font-family: "Inter", system-ui, sans-serif;
  
}

/* ---------- COMMON BUTTONS ---------- */
.btn-primary-custom {
  background-color: #2563eb;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 500;
}

.btn-primary-custom:hover {
  background-color: #1e40af;
}

.btn-outline-custom {
  border-radius: 12px;
}

/* ---------- COMMON INPUTS ---------- */
.form-control-custom {
  height: 48px;
  border-radius: 12px;
  padding-left: 44px;
 
}

/* ---------- CARDS ---------- */
.card-custom {
  border-radius: 20px;
  border: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

/* ---------- LINKS ---------- */
.link-primary-custom {
  color: #2563eb;
  text-decoration: none;
}

.link-primary-custom:hover {
  text-decoration: underline;
}
/* Splash glow */
.blur-circle {
  width: 160px;
  height: 160px;
  filter: blur(30px);
}

/* White logo circle */
.logo-circle {
  width: 120px;
  height: 120px;
}

/* Loader dots */
.dot {
  width: 12px;
  height: 12px;
  background-color: #2563eb;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.3s;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translateY(-8px);
  }
}

.nav-link {
  color: #6c757d;
}

.nav-link.active {
  color: #0d6efd;
  font-weight: 600;
}